html {
  min-height: 100.1%;
}


table.album {
  width: 100%;
}

td.cover {
  width: 410px;
  vertical-align: top;
  padding-left: 1em	;
}

td.tracks {
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
}


td.tracks ol {
  padding: 0 0 0 30px;
}

td.backup {
  width: 200px;
  vertical-align: bottom;
}

div.cover {
  text-align: center;
  margin: 10px;
}

.photoTools {
  position: absolute;
  right: 0px;
}

.photo {
  margin-top: 2em;
  text-align: center;
}
.photoTitle {
  text-align: center;
  margin: 0em 1em 2em 1em;
}



table.image {
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.inBrackets {
  color: #888;
}


/* PRINTING */

table.frontCover {
  width: 240mm;
  border: 1px solid #888;
  page-break-after: always;
}

img.frontCoverImage {
  width: 120mm;
  height: 120mm;
}

table.frontCover tr td {
  width: 120mm;
}
table.frontCover tr td.inside {
}
table.frontCover tr td.inside ol {
  margin: 5mm;
}

table.backCover {
  width: 118mm;
  height: 151mm;
  border: 1px solid #888;
  page-break-inside: avoid;
}

table.backcover tr td.spine {
  height: 6mm;
  text-align: center;
}

table.backcover tr td.back {
  height: 138mm;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
table.backcover tr td.back ol {
  margin: 5mm;
}

body.albumCover {
  background: #fff;
  font-size: 8pt;
  color: #000;
  margin: 1em;
}


table.albumCover {
  border-spacing: 0px;
  border: 1px solid #333;
  page-break-after: always;
}

table.albumCover td {
  margin: 0px;
  padding: 0px;
}

#greyedBackground {
  opacity: 0.5;
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 100;
}

#windowContainer {
  display: none;
  position: fixed;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 101;
}

#windowFrame {
  position: absolute;
  right: 100px;
  text-align: center;
  min-width: 300px;
}

#windowButtons {
  display: block;
  position: absolute;
  right: -20px;
  top: -20px;
  z-index: 102;
}
#windowButtons img {
  vertical-align: middle;
}

@media print {
  .cover {
    display: none;
  }
}



