
.board {
  position: relative;
  margin: 32px;
  background-color: #eee;
  border: 1px solid black;
}


.rain {
  position: absolute;
  visibility: hidden;
}

.ship {
  position: absolute;
  visibility: hidden;
}
